<ion-content fullscreen="true" padding class="background">
    <ion-header>
        <img alt="center" src="../../assets/mhed.png" />  
        <br>
        <br>
        <br>
      <ion-grid class="ion-align-items-center">
        <ion-row>
            <ion-col size="12">
                <img  alt="center"  src="../../assets/images/imageBookScreenHome.png" style="width: 60%;" />
                <img alt="center"  src="../../assets/images/mnahijDrasia.png" style="width: 70%;" />
            </ion-col>
          
        </ion-row>
      </ion-grid>
      
        <img  alt="center" src="../../assets/images/line.png"  style="width: 100%; height: 50%"/>
      </ion-header>
     
        <ion-grid >
            <ion-row class="ion-align-items-center">
                <ion-col size="6">
                <img routerLink="mar1"  src="../../assets/images/btnMar1.png" style="zoom: 30%;" />
            </ion-col>
      
                <ion-col size="6">
                <img routerLink="mar2"  src="../../assets/images/btnMar2.png" style="zoom: 30%;" />
            </ion-col>
        </ion-row>
        </ion-grid>
        <ion-grid >
            <ion-row>
                <ion-col size="12">
                <img routerLink="mar3"  src="../../assets/images/btnMar3.png" style="zoom: 30%;" />
            </ion-col>
        </ion-row>
        </ion-grid>
        <ion-row>
            <ion-col size="12">
            <img  src="../../assets/images/footer.png" style="zoom: 30%;" />
        </ion-col>
    </ion-row>
 
      

    
   
     
</ion-content>

  